html, body {
    font-family: Verdana,sans-serif
    }
body{
  background:aqua;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding:20px;
	border: 1px solid #8B0000;
	box-shadow: 0 0 8px 3px #fff;
}
.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #8B0000;
}

.question{
	padding: 20px;
	font-size: 22px;
	border-radius: 20px;
	margin: 10px 0px 10px 15px;
	color: #f6f6f6; 
	text-align: center;
}
.option{
	width: 420px;
	display: inline-block;
	padding: 10px 0px 10px 15px;
	vertical-align: middle;
	background: rgba(255,255,255,0.5);
	margin: 10px 0px 10px 15px;
	color: #000000;
	border-radius: 20px;
}
.option:hover{
	background-color: #8B0000;
	color: #f6f6f6;
}
.nxt-btn{
	border: none;
	outline: none;
	background-color: rgba(200,255,255,0.5);
	width: 150px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
}
.nxt-btn:hover{
	background-color: #8B0000;
	color: #f6f6f6;
}
#result{ 
	border: 2px solid red;
	text-align: center;
	font-size: 75px;

}
.option input:checked .option{
	background-color: #8B0000;
	color: #000;
}