html, body {
    font-family: Verdana,sans-serif
    }
body{
  background:aqua;
}
#hed{
font-size: 100px;
width: 100%;
text-align: center;
}
#hed2{
font-size: 40px;
width: 100%;
text-align: center;
text-shadow: 2px;
}
#start{
  text-align: center;
  border-style: ridge;
  margin: 20px;
  padding: 20px; 
}
.btn btn-info btn-lg{
  background-color: rgb(0,0,400); /* blue */
  border-radius: 15px;
  padding: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px 5px;
  cursor: pointer;
  }
